@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

* {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 700;
}

body {
  height: 100vh;
  min-width: 375px;
  background-image: url("/bg-stars.svg");
  background-color: #1e1f29;
}

main {
  height: 75%;
}

#number {
  width: 20vw;
  height: 20vw;
  max-width: 144px;
  max-height: 144px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fb6087;
  margin-bottom: 25%;
  background-color: #343650;
  border-radius: 15px;
  font-size: 80px;
  box-shadow: 0 12px 0 #191a24;
}

h1,
h2 {
  margin-left: 5px;
  letter-spacing: 5px;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 30px;
  position: relative;
  top: -80px;
}

h2 {
  color: #8486a9;
  font-size: 18px;
}

#countdown {
  width: 100%;
  min-width: 375px;
  max-width: 800px;
  display: flex;
  justify-content: center;
}

.time {
  width: 20%;
  max-width: 144px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
}

@media (width<720px) {
  #number {
    font-size: 10vw;
  }

  h1,
  h2 {
    margin-left: 5px;
    letter-spacing: 5px;
  }

  h1 {
    color: #fff;
    font-size: 4vw;
  }

  h2 {
    color: #8486a9;
    font-size: 2vw;
  }
}
